# Projet 2 : Analysez des données de systèmes éducatifs

## Sommaire
* [Exploration des données](#exp_donnees)
    * [Importation des bibliothèques](#import_bib)
    * [Variable du tableau créée](#var_tab)
    * [Obtention d'informations générales sur le jeu de données](#info_general)
    * [Configuration du Pandas](#cfg_pandas)
    * [Vérification des colonnes](#verif_col)
    * [Vérification des données manquantes](#verif_don_manq)

## Exploration des données <a class="anchor" id="exp_donnees"></a>

### Importation des bibliothèques <a class="anchor" id="import_bib"></a>
Les bibliothèques nécessaires pour les traitements sont importées et se voient attribuer des alias.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Variable du tableau créée <a class="anchor" id="var_tab"></a>
Le fichier source CSV est lu dans un objet de tableau et les cinq premières colonnes sont affichées.

In [2]:
edstats = pd.read_csv('Edstats_csv/EdStatsData.csv')
edstats.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2060,2065,2070,2075,2080,2085,2090,2095,2100,Unnamed: 69
0,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.36554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Obtention d'informations générales sur le jeu de données <a class="anchor" id="info_general"></a>
- Le nombre de lignes et de colonnes est imprimé.
- Une méthode est appelée qui produit des informations de base sur le tableau, y compris le nombre d'entrées dans chaque colonne et leurs types de données.

In [3]:
edstats.shape

(886930, 70)

In [4]:
edstats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886930 entries, 0 to 886929
Data columns (total 70 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    886930 non-null  object
 1   Country Code    886930 non-null  object
 2   Indicator Name  886930 non-null  object
 3   Indicator Code  886930 non-null  object
 4   1970            72288 non-null   float64
 5   1971            35537 non-null   float64
 6   1972            35619 non-null   float64
 7   1973            35545 non-null   float64
 8   1974            35730 non-null   float64
 9   1975            87306 non-null   float64
 10  1976            37483 non-null   float64
 11  1977            37574 non-null   float64
 12  1978            37576 non-null   float64
 13  1979            36809 non-null   float64
 14  1980            89122 non-null   float64
 15  1981            38777 non-null   float64
 16  1982            37511 non-null   float64
 17  1983            38460 non-null   float64
 18  1984            38606 non-null   float64
 19  1985            90296 non-null   float64
 20  1986            39372 non-null   float64
 21  1987            38641 non-null   float64
 22  1988            38552 non-null   float64
 23  1989            37540 non-null   float64
 24  1990            124405 non-null  float64
 25  1991            74437 non-null   float64
 26  1992            75543 non-null   float64
 27  1993            75793 non-null   float64
 28  1994            77462 non-null   float64
 29  1995            131361 non-null  float64
 30  1996            76807 non-null   float64
 31  1997            73453 non-null   float64
 32  1998            84914 non-null   float64
 33  1999            118839 non-null  float64
 34  2000            176676 non-null  float64
 35  2001            123509 non-null  float64
 36  2002            124205 non-null  float64
 37  2003            130363 non-null  float64
 38  2004            128814 non-null  float64
 39  2005            184108 non-null  float64
 40  2006            140312 non-null  float64
 41  2007            137272 non-null  float64
 42  2008            134387 non-null  float64
 43  2009            142108 non-null  float64
 44  2010            242442 non-null  float64
 45  2011            146012 non-null  float64
 46  2012            147264 non-null  float64
 47  2013            137509 non-null  float64
 48  2014            113789 non-null  float64
 49  2015            131058 non-null  float64
 50  2016            16460 non-null   float64
 51  2017            143 non-null     float64
 52  2020            51436 non-null   float64
 53  2025            51436 non-null   float64
 54  2030            51436 non-null   float64
 55  2035            51436 non-null   float64
 56  2040            51436 non-null   float64
 57  2045            51436 non-null   float64
 58  2050            51436 non-null   float64
 59  2055            51436 non-null   float64
 60  2060            51436 non-null   float64
 61  2065            51436 non-null   float64
 62  2070            51436 non-null   float64
 63  2075            51436 non-null   float64
 64  2080            51436 non-null   float64
 65  2085            51436 non-null   float64
 66  2090            51436 non-null   float64
 67  2095            51436 non-null   float64
 68  2100            51436 non-null   float64
 69  Unnamed: 69     0 non-null       float64
dtypes: float64(66), object(4)
memory usage: 473.7+ MB

### Configuration du Pandas <a class="anchor" id="cfg_pandas"></a>
- Par défaut, Pandas affiche un maximum de 20 colonnes, mais le jeu de données à manipuler en contient 70, la limite de colonne est donc supprimée.
- Pour permettre la sortie complète d'une opération de somme ultérieure, le nombre maximum de lignes à afficher est défini sur le nombre de colonnes.

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 70)

### Vérification des colonnes <a class="anchor" id="verif_col"></a>
Les noms des colonnes sont affichés.

In [6]:
edstats.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

Les séparateurs de fin de ligne dans le fichier CSV ont créé une colonne superflue, celle-ci est supprimée.

In [7]:
edstats = edstats.drop("Unnamed: 69", axis=1)
edstats.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100'],
      dtype='object')

### Vérification des données manquantes <a class="anchor" id="verif_don_manq"></a>
* Percentage of missing values for each column:
    * The first part of the following command `edstats.isna()` takes the edstats object and produces a boolean table of the same dimensions with 'False' if there is data in the corresponding cell, and 'True' if there is none.
    * The second part of the command `.sum()` outputs a list of key-value pairs with the names of each column and the total number of missing values in each column.
    * The third part `/ len(edstats) * 100` divides the number of missing values in each column by the total number of rows and multiplying by 100, thus giving a percentage of missing values for each column.

In [12]:
edstats.isna().sum() / len(edstats) * 100

Country Name       0.000000
Country Code       0.000000
Indicator Name     0.000000
Indicator Code     0.000000
1970              91.849639
1971              95.993258
1972              95.984012
1973              95.992356
1974              95.971497
1975              90.156382
1976              95.773849
1977              95.763589
1978              95.763364
1979              95.849842
1980              89.951631
1981              95.627953
1982              95.770692
1983              95.663694
1984              95.647233
1985              89.819264
1986              95.560867
1987              95.643286
1988              95.653321
1989              95.767422
1990              85.973527
1991              91.607342
1992              91.482642
1993              91.454455
1994              91.266278
1995              85.189248
1996              91.340128
1997              91.718287
1998              90.426076
1999              86.601085
2000              80.080051
2001              86.074549
2002              85.996076
2003              85.301771
2004              85.476419
2005              79.242105
2006              84.180037
2007              84.522792
2008              84.848071
2009              83.977541
2010              72.665036
2011              83.537370
2012              83.396209
2013              84.496071
2014              87.170464
2015              85.223411
2016              98.144160
2017              99.983877
2020              94.200670
2025              94.200670
2030              94.200670
2035              94.200670
2040              94.200670
2045              94.200670
2050              94.200670
2055              94.200670
2060              94.200670
2065              94.200670
2070              94.200670
2075              94.200670
2080              94.200670
2085              94.200670
2090              94.200670
2095              94.200670
2100              94.200670
dtype: float64